@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  min-width: 1200px;
}

.page-header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button {
  border: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  border: 0;
  background-color: #fff;
  font-size: 17px;
}

.loadMoreBtn:hover {
  padding: 3px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.hide {
  display: none;
  visibility: hidden;
}

.slick-dotted {
  margin-bottom: 80px !important;
}
.slider-item > a {
  position: relative;
}
.slider-item > a > h2 {
  text-decoration: none;
  position: absolute;
  top: 80%;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 500px;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 3px 2px black;
  opacity: 0.8;
  font-size: 17px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.similarTitle {
  margin: 10px;
  text-align: center;
  color: rgb(43, 43, 43);
}

.copyright > a {
  text-decoration: none;
  color: rgb(24, 23, 23);
}

.copyright > a:hover {
  color: white;
}
/*----------------------------------*/
.form_wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.9);
}
.card_container {
  margin-top: 147px;
  margin-bottom: 40px;
  display: block;
}
